support_summary_workflow.json
{
  "name": "Support Ticket Summary with LangChain",
  "nodes": [
    {
      "parameters": {},
      "name": "HTTP Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "model": "mistral",
        "prompt": "Summarize the following support ticket in 3 bullet points:\n\n{{ $json[\"text\"] }}"
      },
      "name": "LangChain Summarizer",
      "type": "n8n-nodes-langchain.llm",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {},
      "name": "Respond",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "HTTP Trigger": {
      "main": [
        [
          {
            "node": "LangChain Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LangChain Summarizer": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}